
table{
    background: #93d5e2;
}
.topo, #menuPlayers{
    display: flex;
}
.topo #imgLogo{
    max-width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.topo{
    justify-content: center;
}
#error{
    color: red;
    font-size: 0.8rem;
}
#menuPlayers{
    align-items: center;
}
#menuPlayers #escolhido{
    width: 100%;
    height: 100%;
    border: solid 1px black;
    border-bottom: solid 1px #93d5e2;
    background-color: #93d5e2;
}
#menuPlayers #naoEscolhido{
    width: 100%;
    height: 100%;
    background-color: #93d5e242;
    border: solid 1px rgba(196, 192, 192, 0.658);
}
.corpoGame{
    border: solid 1px black;
    background-color: #93d5e2;
}

#respostaErrada{
    color: red;
    font-size: 0.8rem;
}
#respostaCerta{
    color: green;
    font-size: 0.8rem;
}
